.AccountAllOtherInfo {
    padding-bottom: 125px;
}


.ReturnBook {
    border-radius: 12.5px;
    background-color: #c30003;
    color: #FFFFFF;
    margin-bottom: 10px;
    /*display: inline-block;*/
    padding: 10px;
    cursor: pointer;
    text-decoration: none;

    float: right;
    bottom: 0;
    right: 0;
    /*padding-top: 10px;*/
}

.ReturnBook a:hover {
    font-weight: bold;
    font-style: italic;
}

.ReturnBook img {
    width: 5vh;
}

.ReturnBook * {
    vertical-align: middle;
    display: inline;
}

.FavouriteGenre {
    border-radius: 12.5px;
    background-color: #c30003;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 15px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-size: 20px;
}

#splitter {
    width: 50%;
    border-top: 5px solid #0034a4;
    border-radius: 50px;
    opacity: 0.5;
    margin: 0 auto;
}

.AccountSettings {
    border-radius: 12.5px;
    background-color: #034e0e;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 15px;
    padding-bottom: 15px;

    cursor: pointer;
    display: inline-block;


}

#WelcomeBack {
    word-break: break-all;
    word-wrap: normal;
    color: #003898;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}