#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    background: #1a1862;
}

.category,
#Copyright {
    padding-top: 5px;
    padding-bottom: 5px;
}

.category img {
    max-width: 20px;
    float: right;
}

#footer h1,
#footer img {
    display: inline;
    padding: 10px;
    font-size: 2em;
    font-weight: normal;
}

#footer h4 {
    color: #bebebe;
    text-align: center;
    font-size: 0.7em;
}

#footer a {
    text-decoration: none;
    cursor: pointer;
}

#footer h1 {
    color: #FFFFFF;
}

.SubCategory a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    font-size: 1em;
    display: block;
}

.SubCategory {
    padding-left: 10px;
    cursor: pointer;
}


/* .SubCategory {
    display: none;
    padding-left: 10px;
    cursor: pointer;
} */


/* .SubCategory a:hover {
    font-weight: bold;
    font-style: italic;
} */