/*Start Search Page*/
* {
    font-family: nunito, sans-serif;
}

#Searchbody {
    background-color: #034e0e;
}

form input {
    font-size: 7vw;
}

#submit {
    margin-top: 10px;
    outline: 0;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 5vw;
    color: #FFFFFF;
    padding:5px;
}

#submit {
    float: right;
}

.MakeDivHorVerCentre {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#exit {
    cursor: pointer;
    float: right;
    color: #FFFFFF;
    margin: 2%;
}

.centreText {
    text-align: center;
}

.bodyOfFilter h2 {
    display: inline;
    font-size: 40px;
}




/*End Search Page*/